#{extends 'main.html' /}
#{set title:'Nouvelle Image' /}


<h3>Nouvelle Image</h3>
<form  action="" method="POST" enctype="multipart/form-data">
    <label for="photo">Ajouter une image</label><br>
    <input type="file" id="photo" name="photo" />
    <div class="submit">
    <input type="submit" value="Envoyer" id="simage" />
    </div>
</form>
<hr/>
<h3>List des images disponibles</h3>

        <table id="box-table-a">
        <thead>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">Url</th>
            <th scope="col">&nbsp;</th>
        </thead>
        <tbody>
            #{list items:images.list(), as:'file'}
        <tr>
            <td><img src="/public/images/blog/${file}" width="150px" height="100px"/></td>
            <td><h4>${file}</h4></td>
            <td><h4>/public/images/blog/${file}</h4></td>
            <td><a href="/admin/delpic/${file}" onclick="return confirm('Etes vous sûre de vouloir supprimer cette image ?');">Supprimer</a> </td>
        </tr>
        #{/list}
        </tbody>
        </table>

