#{extends 'main.html' /}
#{set title:'Home' /}

<div class="post">
<h2>A propos de l’auteur</h2>
<p align="justify">
#{gravatar.img 'boubaker.sabri@gmail.com' ,size:130/}
</p>
<p><strong>En quelques mots:</strong></p>
<p align="justify">
    Développeur Java/J2EE passionné par les architectures logicielles et les technologies web liée au monde Java,
    j'essaie toujours d'apprendre de plus en plus et d'exploiter mes connaissances dans des projets de haute envergure.
    Je développe (ou plutot je m'amuse) en Java depuis mes années universitaires. Je me sens un Geek depuis un bon moment,
    car je me trouve passionné des nouveautés Java, Web et architecture et un Geek 2.0 dès le moment ou je me trouve
    devant mon PC 60% du temps d'une journée connecté sur les réseaux sociaux (Twitter, Viadeo, LinkedIn, GitHub
    et Facebook).

</p>
<p><strong>Profile:</strong></p>
<p align="justify">
     Concevoir, Analyser, Resoudre et Développer : sont les quatre trucs que je peux faire et que j'aime faire, mais si et
     seulement si, ils sont liés au Java et tout ce qu'il tourne autour. Ils sont toutefois pratiqués en toute créativité.
</p>
<p><strong>Me contacter ?</strong></p>
<p align="justify">
    Tél:    00 216 97 87 62 12<br/>
    E-mail: <a href="/contact/0">boubaker.sabri@gmail.com</a>
</p>
</div>