#{extends 'main.html' /}
#{set title:'Home' /}

<div class="post">
<h2>A propos de l’auteur</h2>
<p align="justify">
#{gravatar.img 'boubaker.sabri@gmail.com' ,size:130/}
</p>
<p><strong>En quelques mots:</strong></p>
<p align="justify">
    Développeur Java/J2EE passionné par les architectures logicielles et les technologies web liée au monde Java,

    j'essaie toujours d'apprendre de plus en plus et d'exploiter mes connaissances dans des projets de haute envergure.

    Je développe (ou plutot je m'amuse) en Java depuis mes années universitaires. Je me sens un Geek depuis un bon moment,

    car je me trouve passionné des nouveautés Java, Web et architecture et un Geek 2.0 dès le moment ou je me trouve

    devant mon PC 80% du free-time d'une journée connecté sur les réseaux sociaux (Twitter, Viadeo, LinkedIn, GitHub

    et Facebook).

</p>
<p><strong>Profile:</strong></p>
<p align="justify">
     Concevoir, Analyser, Resoudre et Développer : sont les quatre trucs que je peux faire et que j'aime faire, mais si et

     seulement si, ils sont liés au Java et tout ce qu'il tourne autour. Ils sont toutefois pratiqués en toute créativité.
</p>
    <p><strong>Experiences:</strong></p>

    <h4>Depuis Septembre 2010: Concepteur/Développeur Java/JEE chez<a href="#"> Tadis SA</a></h4>
    <p align="justify">
      Je travaille sur un projet assurance ou plus précisément un système de gestion d'assurance pour le compte d'une société

      d'assurance Suisse. J'ai participé dans la phase d'analyse, conception et développement du projet. Et n'oubliant pas la mise

      en oeuvre d'une architecture modulaire basée sur des notions de l'SOA ainsi que le prototypage et la définition d'un socle

      technique se basé sur des outils libre comme Maven, SVN ( :'( ) Sonar et Jenkins CI.<br/>
      <p class="meta">Technos: Spring 3.0.1, Hibernate 3.3.2, GWT 2.1.0</p>
    </p>

     <h4>De Juillet 2009 à Septembre 2010: Analyste/Programmeur chez <a href="#">Tadis SA</a></h4>
    <p align="justify">
    Juillet 2009, je viens juste d'avoir mon diplome d'ingenieur Informatique option : Système d'information et de connaissance.

    J'ai commencé à travailler chez Tadis SA membre de la communauté d'intéret Suisse Divesa SA, Maitenance, amélioration et

    développement des besoins sont les taches quotidiennes cette période. Le système est développé sous Struts 1.2 et Hibernate.<br/>
     <p class="meta">Technos: Struts 1.2, Hibernate</p>
    </p>

    <h4>De Janvier 2009 à Juillet 2009: Stagaire chez<a href="#"> STMicroelectronics</a></h4>
    <p align="justify">
    Conception, Modélisation et Développement d’une plateforme d’intégration continue distribuée basée sur l’outil open source

    Cruise Control comme  serveur d’intégration continue et un système pour la distribution des taches de l’intégration via

    les web services ainsi que l’ajout d’un module de gestion des dépendances entre les différentes composants d’un produit.<br/>
     <p class="meta">Technos: JSF 1.0,JBoss Richfaces 3.1.0, Ajax4Jsf, Axis, JMX/RMI, XML/XSD (JAXB)</p>
    </p>
     <p><strong>HashTags:</strong></p>
      <p align="justify">
#Java #PL/SQL #Play!
#Servlet #JSP #JSF #Struts #Spring #Hibernate3 #JavaBeans #JDBC #JAVAMAIL #JPA #JDO #GWT #AXIS #XFire #CXF #SOAP
#SmartGWT 2.3 #Richfaces #Ajax4Jsf #JfreeCharts #SWT #Debian #Ubuntu #OpenSolaris #Solaris(8/10) #9x/XP/Vista
#Web 2.0 #XML/XSD(JAXB,JDOM) #JSP #XHTML #CSS #JavaScript #AJAX #JSON #Jquery #Ext-JS
#Tomcat #Glassfish
#IBM-DB2 #Oracle10g  #MySQL #Hsqldb #MongoDB
#M2 #ANT #GIT #SVN
#JenkinsCI #CruiseControl
#Merise #UML #SCA #SOA #Design Patterns

      </p>
<p><strong>Me contacter ?</strong></p>
<p align="justify">
    Tél:    00 216 97 87 62 12<br/>
    E-mail: <a href="/contact/0">boubaker.sabri@gmail.com</a>
</p>
</div>