#{extends 'main.html' /}
#{set title:'Home' /}

#{list items:list, as:'post'}
 <!-- Articles -->
        <div class="post">
				<h2 class="title"><a href="/article/${post.id}">${post.title}</a></h2>
				<p class="meta">Date:${post.lastchange.format('dd/MM/yyyy hh:mm')}
                    Catégorie:${post.categorie.name}
                     Tags:#{list items:post.tags, as:'tag'}<a href="/articles/2/${tag.tag}"> ${tag.tag}</a>#{/list}
                 Commentaires: ${post.vcomments}</p>
				<div class="entry">
					#{if post.content.length()>500}
                    <p>${post.content.substring(0, 500).raw()} ...</p>
                    #{/if}
                    #{else}<p>${post.content.raw()} ...</p>#{/else}
			    </div>
            <a href="/article/${post.id}" class="lien">plus...</a>
		  </div>
#{/list}