#{extends 'main.html' /}
#{set title:'Home' /}


 <div class="article">
                <h2>${post.title}</h2>
                
                <p id="tagline">
		Date:${post.lastchange.format('dd/MM/yyyy')}&nbsp Catégorie:
		${post.categorie.name}&nbsp Tag(s):
		#{list items:post.tags, as:'tag'} ${tag.tag}&nbsp #{/list} vu: ${post.nshow}
		</p>
                <p>${post.content.raw()}</p>
		&nbsp;&nbsp;<a href="http://twitter.com/share" class="twitter-share-button" data-text="${post.title}" data-count="horizontal" data-via="sabri_boubaker" data-lang="fr">Tweeter</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<a href="#comment" class="liencom">Commenter&nbsp;(${post.vcomments})</a>
 

 </div>
 <h3>Commentaires:</h3><br/>
  #{list items:post.comments, as:'comment'}
	#{if comment.status==true}
	<div class="commentaire">
		<div>
		#{gravatar.img comment.usermail ,size:55/}&nbsp;<cite><strong><a  href="#{if comment.usersite!=null}${comment.usersite}#{/if}#{else}##{/else}">${comment.username}</a> 
		</strong> a dit le ${comment.date.format('dd/MM/yyyy hh:mm')}</cite>
		</div>
		<p>${comment.content}</p>
	</div>
	#{/if}
	#{/list}

<!-- Leave a comment -->
<br/>
<h3>Laisser un commentaire:</h3>
<div id="comment" name="comment">
#{form @Consultation.addComment(), id:'commentform'}
		<input type="hidden" name="post_id" value="${post.id}">
		<br/>
		<div>
			<label style="display:block;"> Nom (obligatoire)</label>
			<input type="text" class="required" style="display:block;" name="comment.username"value="" />
			
		</div>
		<br/>
		<div>
			<label style="display:block;"> E-mail (invisible mais obligatoire)</label>
			<input type="text" class="required email" style="display:block;" name="comment.usermail" value="" />
			
		</div>
		<br/>
		<div>	<label style="display:block;"> Site Web</label>
			<input type="text" name="comment.usersite" style="display:block;" value="" />
			
		</div>
		<br/>
		<div>

		<textarea tabindex="4" rows="10" cols="75%" class="required" style="display:block;" name="comment.content"></textarea>
		</div>
		<p>
		<input type="checkbox" style="width: auto;" value="true" name="comment.subscribe">
		<label> s'inscrire au flux des commentaires pour cet article.</label>
		</p>
		<div class="submit" style="float: left;">
			<input type="submit" value="Envoyer" />
		</div>
#{/form} 
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#commentform").validate();
});
</script>

