/**
 * Blue Box main CSS file
 * @version 1.0.0
 * @author Aaron D. Campbell http://xavisys.com/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.3em;
}
h4 {
    font-size:1.1em;
}
h5 {
    font-size:1em;
}
h6 {
    font-size:.8em;
}

body {
	background-color:#D5D6D7;
    color:#333;
    font:80% Verdana,"Trebuchet MS",Georgia,"Times New Roman",Times,serif;
    margin:20px;
    min-width:675px;
    padding:0pt;
}

p {
    line-height:1.5em;
    margin:1em 0;
}

#header {
    background-color:#73A0C5;
    border:1px solid #666;
    border-bottom:none;
    height:70px;
    position:relative;
}

#title {
    float:left;
    margin:5px 0 0 1em;
}

#header h1 {
    font-size:2em;
    padding:0pt;
}
#header #tagline {
    color:#DDD;
    font-size:7px;
    font-style:italic;
    margin:0;
    text-align:right;
}

#header h1,
#header h1 a,
#header h1 a:hover,
#header h1 a:visited {
    color:#FFF;
    text-decoration:none;
}

#nav {
    bottom:0;
    position:absolute;
    right:0;
}

#nav a {
    background-color:#DDD;
    border:1px solid #666;
    border-bottom:0;
    color:#259;
    font-size:1.2em;
    font-weight:bold;
    margin:0 .1em;
    padding:.2em;
    padding-bottom:0;
    text-decoration:none;
}

#nav a:hover,
#nav a.current {
    background-color:#FFF;
}

#content {
	background-color:#FFF;
    border:1px solid #666;
    border-width:0 1px;
	padding:1em;
}
#content ol {
    margin-left:2em;
}
#content ul {
    margin-left:1.5em;
}
#sidebar {
    float:right;
    margin:1em;
    width:260px;
}
#sidebar .box p {
    background-color:#F2F2F2;
    margin:.5em;
}
#sidebar .box ul li {
    border-bottom:1px solid #73A0C5;
    list-style-type:none;
}
#sidebar .box ul li a {
    display:block;
    padding:.5em;
}
#sidebar .box label {
    display:block;
    float:left;
    height:21px;
    margin-right:10px;
    width:70px;
}
#footer {
    background-color:#EFEFEF;
    border:1px solid #666;
    border-top:none;
    font-size:.8em;
    padding:1em;
    text-align:center;
}
#footer p {
    margin:0;
}

a,
a:link {
    color:#06C;
    text-decoration:none;
}
a:visited {
    color:#147;
}
a:hover,
a:active {
    color:#147;
    text-decoration:underline;
}

blockquote,
code {
    background-color:#F2F2F2;
    border-left:4px solid #73A0C5;
    display:block;
    font-style:oblique;
    line-height:20px;
    margin:0 1em;
    padding:0 1em;
}

code {
    white-space:pre;
}


.more {
    display:block;
    font-size:.8em;
    text-align:right;
}

/*********
 * Forms *
 *********/
fieldset {
	color:#777;
	margin-top:15px;
	padding:10px;
}

.message,
fieldset,
input,
button,
fieldset textarea,
fieldset select {
	border:1px solid #F5F5F5;
	border-left-color:#DDD;
	border-top-color:#DDD;
}

legend {
	color:#73A0C5;
	font-weight:bold;
	padding:5px 10px;
}

input,

fieldset textarea,
fieldset select {
	color:#777;
	font:90% Verdana;
	padding:4px;
	width:430px;
}

option {
	padding:0 10px 0 5px;
}
fieldset label,
fieldset p.label {
	color:#777;
	text-align:right;
	width:145px;
}
fieldset label {
	float:left;
	margin:5px 0;
	margin-right:10px;
}

fieldset p {
	margin:0;
}
fieldset div {
	margin:5px 0;
	position:relative;
}
fieldset div div {
	margin:0;
}
fieldset p.label {
	left:0;
	position:absolute;
}

.radio {
	margin-left:160px;
}
.radio label,
.radio input {
	background:none;
	border:none;
	display:inline;
	float:none;
	vertical-align:middle;
	width:auto;
}
.radio div {
	clear:none;
	white-space:nowrap;
}
#sidebar form {
    margin:0 0 1em 0;
}


#sidebar .submit {
	text-align:right;
}
.submit input,
#sidebar .submit input {
	background-color:#F9F9F9;
	border:1px solid #F5F5F5;
	border-left-color:#DDD;
	border-top-color:#DDD;
	cursor:pointer;
	padding:0 21px;
	text-transform:lowercase;
	width:auto;
}

#sidebar input {
	border:1px solid #DDD;
	border-bottom-color:#F5F5F5;
	border-right-color:#F5F5F5;
    width:100%;
}

#sidebar label {
    height:auto;
    margin-bottom:0;
    width:auto;
}
/** article **/
.article {
    border:1px solid #999;
	margin:0 0 1em 0;
    overflow:hidden;
    padding: 5px 10px 10px;
}
.article h2{
	background-color:#73A0C5;
	color:white;
	display:block;
	padding:0 5px;
}
/** lien commenter**/
.liencom{
    float: right;
    font-size:11px;
}
/** commentaire style**/
.commentaire{
	border:1px solid #999;
	margin:0 0 1em 0;
    overflow:hidden;
    width:50%;
}
.commentaire div{
    background-color:#F2F2F2;
    font-family:Arial;
    font-size:10pt;
    height:auto;
    padding:2px;
}
.commentaire p {
    font-family:Arial;
    font-size:10pt;
    padding:5px;
}
/** sidebar box**/
.box{
	border:1px solid #999;
	margin:0 0 1em 0;
    overflow:hidden;
}
.box p,
.box ul,
.box ol,
.box div.cont,
.box form {
	margin:.5em;
}
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
	background-color:#73A0C5;
	color: white;
	display:block;
	padding:0 5px;
}
#htmltagcloud {
background-color:#FFFFFF;
border:2px dotted #DDDDDD;
font-family:'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif;
letter-spacing:normal;
line-height:2.4em;
margin:0 0 2em;
padding:2em ;
text-align:justify;
text-decoration:none;
text-indent:0;
text-transform:none;
word-spacing:normal;
}
#htmltagcloud a:link {
text-decoration:none;
}
#htmltagcloud a:visited {
text-decoration:none;
}
#htmltagcloud a:hover {
background-color:#0055FF;
color:white;
text-decoration:none;
}
#htmltagcloud a:active {
background-color:#0033DD;
color:white;
text-decoration:none;
}
span.tagcloud0 {
color:#ACC1F3;
font-size:1em;
padding:0;
position:relative;
z-index:10;
}
span.tagcloud0 a {
color:#ACC1F3;
text-decoration:none;
}
span.tagcloud1 {
color:#ACC1F3;
font-size:1.4em;
padding:0;
position:relative;
z-index:9;
}
span.tagcloud1 a {
color:#ACC1F3;
text-decoration:none;
}
span.tagcloud2 {
color:#86A0DC;
font-size:1.8em;
padding:0;
position:relative;
z-index:8;
}
span.tagcloud2 a {
color:#86A0DC;
text-decoration:none;
}
span.tagcloud3 {
color:#86A0DC;
font-size:2.2em;
padding:0;
position:relative;
z-index:7;
}
span.tagcloud3 a {
color:#86A0DC;
text-decoration:none;
}
span.tagcloud4 {
color:#607EC5;
font-size:2.6em;
padding:0;
position:relative;
z-index:6;
}
span.tagcloud4 a {
color:#607EC5;
text-decoration:none;
}
span.tagcloud5 {
color:#607EC5;
font-size:3em;
padding:0;
position:relative;
z-index:5;
}
span.tagcloud5 a {
color:#607EC5;
text-decoration:none;
}
span.tagcloud6 {
color:#4C6DB9;
font-size:3.3em;
padding:0;
position:relative;
z-index:4;
}
span.tagcloud6 a {
color:#4C6DB9;
text-decoration:none;
}
span.tagcloud7 {
color:#395CAE;
font-size:3.6em;
padding:0;
position:relative;
z-index:3;
}
span.tagcloud7 a {
color:#395CAE;
text-decoration:none;
}
span.tagcloud8 {
color:#264CA2;
font-size:3.9em;
padding:0;
position:relative;
z-index:2;
}
span.tagcloud8 a {
color:#264CA2;
text-decoration:none;
}
span.tagcloud9 {
color:#133B97;
font-size:4.2em;
padding:0;
position:relative;
z-index:1;
}
span.tagcloud9 a {
color:#133B97;
text-decoration:none;
}
span.tagcloud10 {
color:#002A8B;
font-size:4.5em;
padding:0;
position:relative;
z-index:0;
}
span.tagcloud10 a {
color:#002A8B;
text-decoration:none;
}
span.freq {
color:#BBBBBB;
font-size:10pt !important;
}
/** Table **/
#box-table-a {
border-collapse:collapse;
font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
font-size:12px;
margin:20px;
text-align:left;

}
#box-table-a th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#B9C9FE none repeat scroll 0 0;
border-bottom:1px solid #FFFFFF;
border-top:4px solid #AABCFE;
color:#003399;
font-size:13px;
font-weight:normal;
padding:8px;
}
#box-table-a td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E8EDFF none repeat scroll 0 0;
border-bottom:1px solid #FFFFFF;
border-top:1px solid transparent;
color:#666699;
padding:8px;
}
#box-table-a tr:hover td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D0DAFD none repeat scroll 0 0;
color:#333399;
}
#box-table-b {
border-bottom:7px solid #9BAFF1;
border-collapse:collapse;
border-top:7px solid #9BAFF1;
font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
font-size:12px;
margin:20px;
text-align:center;
width:480px;
}
#box-table-b th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E8EDFF none repeat scroll 0 0;
border-left:1px solid #9BAFF1;
border-right:1px solid #9BAFF1;
color:#003399;
font-size:13px;
font-weight:normal;
padding:8px;
}
#box-table-b td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E8EDFF none repeat scroll 0 0;
border-left:1px solid #AABCFE;
border-right:1px solid #AABCFE;
color:#666699;
padding:8px;
}
/*****************************/