/*
*****Body
*/
body {
	background: #E9E9E9;
	direction: ltr;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	text-align: left;
}
a {
text-decoration:none;
}
h2.titre {
-x-system-font:none;
border-bottom:1px solid #DDDDDD;
font-family:Georgia;
font-size:2.2em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:700;
letter-spacing:-0.05em;
line-height:normal;

}
.col-full {
	margin: 0 auto;
	width: 960px;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}


.fb2 {
	padding: 5px;
	color: #FFFFFF;
	background: #3B5998;
	margin: 0 auto;
	width: 960px;padding: 10px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.fb2 a {
	color: #FFFFFF;
	text-decoration: none;
	outline-style: none;
	padding: 5px;
}

.fb2 a:hover {
	background: #6D84B4;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}




.fbx {
	font-size: 12px;
	font-weight: normal;
	background: #f7f7f7;
	color: #000;
	padding: 5px;
	border: 1px solid #B7B7B7;
	margin-top: 20px;
	width: 200px;
}

.fbx H3 {
	font-size: 14px;
	background: #e9e9e9;
	color: #333;
	padding: 2px;
	margin-bottom: 5px;
	margin-top: 0px;
}

.fbx-tiny {
	font-size: 10px;
	color: #777;
}

.fbx a {
	color: #3B5998;
	text-decoration: none;
}

.fbx a {
	text-decoration: underline;
}

.article {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
	margin: 10px 0 0;
	padding:0 10px 0;
	font-size:1.05em;
	line-height:1.75em;
}

.comment {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EAF2F5;
border-top:1px solid #BEDCE7;
border-bottom:1px solid #BEDCE7;
border-left:1px solid #BEDCE7;
border-right:1px solid #BEDCE7;
overflow:hidden;
padding:0 0.7em 0.7em;
margin-top: 20px;
}
.articledate{
font-size:11px;
background:#E9E9E9;
border-top:1px solid #BEDCE7;
border-bottom:1px solid #BEDCE7;
border-left:1px solid #BEDCE7;
border-right:1px solid #BEDCE7;
margin: 10px 0 0;
}
.leavcomment{
border-bottom:2px solid;
margin-left:10px;
}
#htmltagcloud {
background-color:#FFFFFF;
border:2px dotted #DDDDDD;
font-family:'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif;
letter-spacing:normal;
line-height:2.4em;
margin:0 0 2em;
padding:2em;
text-align:justify;
text-decoration:none;
text-indent:0;
text-transform:none;
word-spacing:normal;
}
#htmltagcloud a:link {
text-decoration:none;
}
#htmltagcloud a:visited {
text-decoration:none;
}
#htmltagcloud a:hover {
background-color:#0055FF;
color:white;
text-decoration:none;
}
#htmltagcloud a:active {
background-color:#0033DD;
color:white;
text-decoration:none;
}
span.tagcloud0 {
color:#ACC1F3;
font-size:1em;
padding:0;
position:relative;
z-index:10;
}
span.tagcloud0 a {
color:#ACC1F3;
text-decoration:none;
}
span.tagcloud1 {
color:#ACC1F3;
font-size:1.4em;
padding:0;
position:relative;
z-index:9;
}
span.tagcloud1 a {
color:#ACC1F3;
text-decoration:none;
}
span.tagcloud2 {
color:#86A0DC;
font-size:1.8em;
padding:0;
position:relative;
z-index:8;
}
span.tagcloud2 a {
color:#86A0DC;
text-decoration:none;
}
span.tagcloud3 {
color:#86A0DC;
font-size:2.2em;
padding:0;
position:relative;
z-index:7;
}
span.tagcloud3 a {
color:#86A0DC;
text-decoration:none;
}
span.tagcloud4 {
color:#607EC5;
font-size:2.6em;
padding:0;
position:relative;
z-index:6;
}
span.tagcloud4 a {
color:#607EC5;
text-decoration:none;
}
span.tagcloud5 {
color:#607EC5;
font-size:3em;
padding:0;
position:relative;
z-index:5;
}
span.tagcloud5 a {
color:#607EC5;
text-decoration:none;
}
span.tagcloud6 {
color:#4C6DB9;
font-size:3.3em;
padding:0;
position:relative;
z-index:4;
}
span.tagcloud6 a {
color:#4C6DB9;
text-decoration:none;
}
span.tagcloud7 {
color:#395CAE;
font-size:3.6em;
padding:0;
position:relative;
z-index:3;
}
span.tagcloud7 a {
color:#395CAE;
text-decoration:none;
}
span.tagcloud8 {
color:#264CA2;
font-size:3.9em;
padding:0;
position:relative;
z-index:2;
}
span.tagcloud8 a {
color:#264CA2;
text-decoration:none;
}
span.tagcloud9 {
color:#133B97;
font-size:4.2em;
padding:0;
position:relative;
z-index:1;
}
span.tagcloud9 a {
color:#133B97;
text-decoration:none;
}
span.tagcloud10 {
color:#002A8B;
font-size:4.5em;
padding:0;
position:relative;
z-index:0;
}
span.tagcloud10 a {
color:#002A8B;
text-decoration:none;
}
span.freq {
color:#BBBBBB;
font-size:10pt !important;
}