/*
** ** Body
*/
body {
	background: #E9E9E9;
	direction: ltr;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	text-align: left;
}
a {
text-decoration:none;
}
h2.titre {
-x-system-font:none;
border-bottom:1px solid #DDDDDD;
font-family:Georgia;
font-size:2.2em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:700;
letter-spacing:-0.05em;
line-height:normal;

}
.col-full {
	margin: 0 auto;
	width: 960px;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}


.fb2 {
	padding: 5px;
	color: #FFFFFF;
	background: #3B5998;
	margin: 0 auto;
	width: 960px;padding: 10px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.fb2 a {
	color: #FFFFFF;
	text-decoration: none;
	outline-style: none;
	padding: 5px;
}

.fb2 a:hover {
	background: #6D84B4;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}




.fbx {
	font-size: 12px;
	font-weight: normal;
	background: #f7f7f7;
	color: #000;
	padding: 5px;
	border: 1px solid #B7B7B7;
	margin-top: 20px;
	width: 200px;
}

.fbx H3 {
	font-size: 14px;
	background: #e9e9e9;
	color: #333;
	padding: 2px;
	margin-bottom: 5px;
	margin-top: 0px;
}

.fbx-tiny {
	font-size: 10px;
	color: #777;
}

.fbx a {
	color: #3B5998;
	text-decoration: none;
}

.fbx a {
	text-decoration: underline;
}

.article {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
	margin: 10px 0 0;
	padding:0 10px 0;
	font-size:1.05em;
	line-height:1.75em;
}

.comment {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EAF2F5;
border-top:1px solid #BEDCE7;
border-bottom:1px solid #BEDCE7;
border-left:1px solid #BEDCE7;
border-right:1px solid #BEDCE7;
overflow:hidden;
padding:0 0.7em 0.7em;
margin-top: 20px;
}
.articledate{
font-size:11px;
background:#E9E9E9;
border-top:1px solid #BEDCE7;
border-bottom:1px solid #BEDCE7;
border-left:1px solid #BEDCE7;
border-right:1px solid #BEDCE7;
margin: 10px 0 0;
}
.leavcomment{
border-bottom:2px solid;
margin-left:10px;
}
