/*
**Body
*/
.col-full {
	margin: 0 auto;
	width: 960px;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}
/*
** Menu
*/
body {
	color: #000;
	background: #fff;
}

.nav {
	width: 401px;
	height: 48px;
	background: url(../images/blue-nav.gif) no-repeat;
	position: absolute;
}

.nav li {
	display: inline;
}

.nav li a:link,.nav li a:visited {
	position: absolute;
	top: 0;
	height: 48px;
	text-indent: -9000px;
	overflow: hidden;
}

.nav .home a:link,.nav .home a:visited {
	left: 23px;
	width: 76px;
}

.nav .home a:hover,.nav .home a:focus {
	background: url(../images/blue-nav.gif) no-repeat -23px -49px;
}

.nav .home a:active {
	background: url(../images/blue-nav.gif) no-repeat -23px -98px;
}

.current-home .home a:link,.current-home .home a:visited {
	background: url(../images/blue-nav.gif) no-repeat -23px -147px;
	cursor: default;
}

.nav .about a:link,.nav .about a:visited {
	left: 100px;
	width: 82px;
}

.nav .about a:hover,.nav .about a:focus {
	background: url(../images/blue-nav.gif) no-repeat -100px -49px;
}

.nav .about a:active {
	background: url(../images/blue-nav.gif) no-repeat -100px -98px;
}

.current-about .about a:link,.current-about .about a:visited {
	background: url(../images/blue-nav.gif) no-repeat -100px -147px;
	cursor: default;
}

.nav .services a:link,.nav .services a:visited {
	left: 183px;
	width: 97px;
}

.nav .services a:hover,.nav .services a:focus {
	background: url(../images/blue-nav.gif) no-repeat -183px -49px;
}

.nav .services a:active {
	background: url(../images/blue-nav.gif) no-repeat -183px -98px;
}

.current-services .services a:link,.current-services .services a:visited
	{
	background: url(../images/blue-nav.gif) no-repeat -183px -147px;
	cursor: default;
}

.nav .contact a:link,.nav .contact a:visited {
	left: 281px;
	width: 97px;
}

.nav .contact a:hover,.nav .contact a:focus {
	background: url(../images/blue-nav.gif) no-repeat -281px -49px;
}

.nav .contact a:active {
	background: url(../images/blue-nav.gif) no-repeat -281px -98px;
}

.current-contact .contact a:link,.current-contact .contact a:visited {
	background: url(../images/blue-nav.gif) no-repeat -281px -147px;
	cursor: default;
}

.postbox {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF none repeat scroll 0 0;
	border-bottom: 1px solid #DFDFDF;
	margin: 20px 0 0;
	padding: 0 0 10px;
	width: 500px;
}

.Options {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #003399 none repeat scroll 0 0;
	border-bottom: 2px solid #9999CC;
	color: #FFFFFF;
}