<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen"
	href="@{'/public/stylesheets/main.css'}" />
<script type="text/javascript"
	src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
</head>
<body>
	<div id="container" style="top: 200px;">
		<div id="top">
			<div id="menu">
				<div>
					<div class="fb2">
						<a href="#">Facebook</a>
						<a href="#">Links</a>
						<a href="#">Hover</a>
						<a href="#">CSS</a>
						<a href="#">Style</a>
						<a href="#" style="float: right;">login</a>
					</div>
				</div>
			</div>
		</div>
		<div id="content" class="col-full">
			
			<div id="main" class="col-left" style="width: 70%;">
				<div class="postbox">
				<h2>Titre</h2>
				The current version of Mongo supports only very basic security.  One authenticates a username and password in the context of a particular database.  Once authenticated, a normal user has full read and write access to the database in question while a read only user only has read access.
				</div>
				<div class="postbox">
				<h2>Titre</h2>
				The current version of Mongo supports only very basic security.  One authenticates a username and password in the context of a particular database.  Once authenticated, a normal user has full read and write access to the database in question while a read only user only has read access.</div>
			</div>
			<div id="side" class="col-right">
			
				<div class="fbx" >
  					<h3>Articles recents</h3>
  					AK is preparing a css post about Facebook. <br>
  					AK is checking his Facebook.<br>
				</div>
				<div class="fbx" >
  					<h3>Articles recents</h3>
  					AK is preparing a css post about Facebook. <br>
  					AK is checking his Facebook.<br>
				</div>
				<div class="fbx" >
  					<h3>Articles recents</h3>
  					AK is preparing a css post about Facebook. <br>
  					AK is checking his Facebook.<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>