<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="author" content="Sabri Boubaker" />
 <meta name="keywords" content="geek, java, spring, springmvc,nosql, cloud, mongodb, playframework" />
<link rel="stylesheet" type="text/css" media="screen"
	href="@{'/public/stylesheets/bluebox.css'}" />
    <link rel="stylesheet" type="text/css" media="screen"
	href="@{'/public/stylesheets/jquery.wysiwyg.css'}" />
<script type="text/javascript"
	src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
	<script type="text/javascript"
	src="@{'/public/javascripts/jquery.validate.pack.js'}"></script>
    <script type="text/javascript"
	src="@{'/public/javascripts/jquery.wysiwyg.js'}"></script>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</head>
<body>
	 <div id="header">
            <div id="title">
		<div style="float: left;">
                <h1><a href="/">Sabri Boubaker</a></h1>
		<p id="tagline" style="font-size:12pt;"><b>#Geek2.0 #cloud #NoSQL #JEE #Spring #...</b></p>
		</div>
		<div style="position:absolute;right:0;">
		<a href="http://twitter.com/sabri_boubaker"><img src="http://www.twitterbuttons.com/upload/images/6a2fe834b0twitter-wb-fm.png" title="By: TwitterButtons.com" alt="By: TwitterButtons.com" width="150" height="35" /></a>
                </div>
		
            </div>
            <div id="nav">
            	<a href="/" class="current">Acceuil</a>
                <a href="/articles/1/web2.0" class="current">Web 2.0</a>
                <a href="/articles/1/nosql">NoSQL</a>
                <a href="/articles/1/cloud">Cloud</a>
                <a href="/articles/1/divers">Divers</a>
                <a href="/auteur">Auteur</a>
                <a href="/contact">Contact</a>
            </div>
        </div>

        <div id="sidebar">
	
	    <div class="box">
                <h3>Articles récents</h3>
                #{list items:uiObject.posts, as:'post'}
                <p>
                    <b>${post.title}</b>
                    <a href="/article/${post.id}" title="${post.title}" class="more">Savoir plus &raquo;</a>
                </p>
                #{/list}
            </div>
            <div class="box">
                <h3>Nuage</h3>
                <div id="#htmltagcloud">
                 #{list items:uiObject.tags, as:'tag'}
                <span class="tagcloud3" id="0">
                <a href="/articles/2/${tag.tag}">${tag.tag}</a>
                </span>
                #{/list}
                </div>
            </div>
            <div class="box">
                <h3>Blog preferés</h3>
                <ul>
                    <li><a href="http://desgeeksetdeslettres.com/">Des Geeks et des lettres</a></li>
                    <li><a href="http://www.touilleur-express.fr">Le Touilleur Express </a></li>
                    <li><a href="http://lescastcodeurs.com">Les Cast Codeurs</a></li>
                    <li><a href="http://blog.octo.com">Octo Talks!</a></li>
                    <li><a href="http://blog.xebia.fr/">Xebia</a></li>
                </ul>
            </div>
            <form action="/admin/login" method="post" id="loginForm">
                <fieldset>
    				<legend>Login</legend>
                    <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="email required" value=""/>
                    </p>
                    <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="required" value=""/>
                    </p>
                    <div class="submit">
                        <input type="submit" name="login" value="Login" />
                    </div>
                </fieldset>
            </form>
            <!-- <form id="searchform" method="get" action="http://xavisys.com/">
    			<fieldset>
    				<legend>Recherche</legend>
    				<input name="s" type="text" id="s" value="" />
    				<div class="submit">
    					<input name="submit" type="submit" id="searchsubmit" value="Search" />
    				</div>
    			</fieldset>
    		</form> -->
        </div>
        <div id="content">
	 #{secure.check 'admin'}
	 <a href="/admin/articles">Tout les articles</a>&nbsp;|&nbsp;<a href="/admin/newpost">Nouveau article</a>&nbsp;|&nbsp;<a href="#">Nouvelle catégorie</a>
	 |&nbsp;<a href="/admin/newpic">Nouvelle image</a><a href="/admin/logout" style="float: right;">logout</a>
	  <hr/>
      #{/secure.check}

	#{doLayout/}
        <div style="clear:both">&nbsp;</div>
        </div>
        <div id="footer">
            <p>
                Copyright &copy; <a href="#">Sabri boubaker</a> 2011
                <!-- While not required, I would appreciate this link being left in -->
                | Created by <a href="#" title="Sabri boubaker">Sabri boubaker</a>
                | <a href="http://www.opendesigns.org/" title="Download Free Web Design Templates">Open Designs</a>
                | Valid <a href="http://jigsaw.w3.org/css-validator/">CSS</a> &amp; <a href="http://validator.w3.org/">XHTML</a>
            </p>
        </div>
</body>
<script type="text/javascript">
    $("#loginForm").validate();
</script>
</html>